<launch>
    <!-- Console launch prefix -->
    <arg name="launch_prefix" default="gnome-terminal --"/>

    <!-- load configuration file -->
    <rosparam command="load" file="$(find cuadc)/config/config.yaml"/>

    <rosparam param="base_path">file://$(find visual_landing_provider)</rosparam>

    <!-- Run node node -->
    <node pkg="visual_landing_provider" type="visual_infer_ros1.py" name="visual_infer_node"
          required="true" output="screen"/>
</launch>
